/************************************
** 入力フォーム（Form）
************************************/
input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
textarea {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #222;
  /*display: block;*/
  font-size: 16px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  box-sizing: border-box;
}

input#author,
input#email,
input#url{
  max-width: 360px;
}

.gsc-search-box input[type="text"]{
  background-color:#FFF;
  border-radius: 0px;
}

#comment-area input[type="text"],
#comment-area textarea{
  display: block;
}

textarea {
  overflow: auto;
  width:100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border: 1px solid #ff69b4;
  background: #fff;
  box-shadow:  0 0 3px rgba(255,105,180,1);
   color: #444;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 14px;
  border: 1px solid #777;
  border-radius: 3px;
  background: #fff;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  line-height: normal;
  cursor: pointer;
  /* Old browsers */
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: #eee;

}

select, option{
  padding: 5px;
}

/*
select{
  border: 1px solid #bbb;
  border-right: 2px;
}

select, option {
  margin: 0.5em 1px;
  padding: 3px 5px;
  vertical-align: middle;
}
#sidebar select{
  width: 100%;
}
*/
/*.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  position: relative;
  top:1px;
}*/
