/************************************
** 入力フォーム（Form）
************************************/
input {
  &[type="text"], &[type="url"], &[type="password"], &[type="email"], &[type="search"], &[type="tel"] {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #222;
    font-size: 16px;
    line-height: 1.42857;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

textarea {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #222;
  font-size: 16px;
  line-height: 1.42857;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  &#author, &#email, &#url {
    max-width: 360px;
  }
}

.gsc-search-box input[type="text"] {
  background-color: #FFF;
  border-radius: 0px;
}

#comment-area {
  input[type="text"], textarea {
    display: block;
  }
}

textarea {
  overflow: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  &[type="text"]:focus, &[type="password"]:focus, &[type="email"]:focus, &[type="search"]:focus, &[type="url"]:focus, &[type="tel"]:focus {
    border: 1px solid #ff69b4;
    background: #fff;
    -webkit-box-shadow: 0 0 3px hotpink;
    box-shadow: 0 0 3px hotpink;
    color: #444;
  }
}

textarea:focus {
  border: 1px solid #ff69b4;
  background: #fff;
  -webkit-box-shadow: 0 0 3px hotpink;
  box-shadow: 0 0 3px hotpink;
  color: #444;
}

.button, button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 14px;
  border: 1px solid #777;
  border-radius: 3px;
  background: #fff;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  line-height: normal;
  cursor: pointer;
}

input {
  &[type="submit"], &[type="reset"], &[type="button"] {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 14px;
    border: 1px solid #777;
    border-radius: 3px;
    background: #fff;
    color: #222;
    text-decoration: none;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
  }
}

.button:hover, button:hover {
  background: #eee;
}

input {
  &[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover {
    background: #eee;
  }
}

select, option {
  padding: 5px;
}

/*
select{
  border: 1px solid #bbb;
  border-right: 2px;
}

select, option {
  margin: 0.5em 1px;
  padding: 3px 5px;
  vertical-align: middle;
}
#sidebar select{
  width: 100%;
}
*/
/*.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  position: relative;
  top:1px;
}*/
