/************************************
** 日付関係のスタイル
************************************/

.date-tags {
  line-height: 0.8;
  text-align: right;
  span:last-child {
    margin-right: 0;
  }
}

.post-date, .post-update, .amp-back {
  margin-right: 8px;
}

.related-entry-post-date {
  margin-right: 0;
}

.post-date::before {
  font-family: FontAwesome;
  content: "";
  padding-right: 3px;
}

.post-update::before {
  font-family: FontAwesome;
  content: "";
  padding-right: 3px;
}

.amp-back::before {
  font-family: FontAwesome;
  content: "";
  padding-right: 3px;
  padding-right: 0;
}
